#headBar {
    display: flex;
    align-items: center; /* Centers items vertically within the bar */
    justify-content: space-between; /* Spreads items across the bar */
    background-color: #D3D3D3;
    padding: 10px 20px; /* Adds padding around the items */
}

#headBar #logo {
    height: 50px; /* Adjust based on your logo's design */
    margin-right: 20px; /* Optional: adds space between the logo and the links */
}

#headBar .nav-links {
    display: flex; /* Ensures links are also flex items */
}

#headBar .nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px; /* Adjust font size as needed */
}

#headBar .nav-links a:hover {
    background-color: #555;
}

.center-para{
    text-align: center;
    margin-top: 20px;
  }
<<<<<<< HEAD

#bigButton {
    width: 10%;          /* Responsive width */
    padding: 1em;        /* Responsive padding */
    font-size: 1.25rem;  /* Responsive font size */
    /* Other styles remain the same */
}
=======
>>>>>>> 2b266696e0b21f562573dc44be52e777e92b8977
