<!-- This is the html file for the About Us page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/project.css">
    <script src="/static/project.js"></script>
</head>
<body>
    <div id="headBar">
        <a href="/" id="logoLink">
            <img src="/static/logo2.svg" alt="Logo" id="logo" style="height: 50px;">
        </a>
        <div class="nav-links">
            <a href="/map">Map</a>
            <a href="/charts">Charts</a>
            <a class="clickedHeadbar" href="/aboutus">About Us</a>
            <a href="/pirategame">Pirate Game!</a>
        </div>   
    </div>

    <div id="about-us-message">
        <p class = "center-para" style="color:white; font-size: xx-large;">
            This website is designed and developed for CS257 by Henry Coyle, Blake Jones, <br>
            Leon Liang, Jonathan Vilms, and Cameron Richardson. We are all students <br>
            at Carleton College in Northfield, Minnesota. We hope you enjoy the website <br> 
            and learn something new about modern pirate attacks around the world.
        </p>
    </div>

    

</body>
</html>
