<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/project.css">
    <script src="/static/project.js"></script>
</head>
<body onload='create_chart("Sub-Saharan Africa")'>
    <div id="headBar">
        <a href="/" id="logoLink">
            <img src="/static/logo2.svg" alt="Logo" id="logo" style="height: 50px;">
        </a>
        <div class="nav-links">
            <a href="/explore">Explore</a>
            <a href="/aboutus">About Us</a>
            <a class="clickedHeadbar" href="/charts">Charts</a>
        </div>   
    </div>

    <!--https://www.chartjs.org/docs/latest/getting-started/-->
    <div style="background-color:#d5c16e;"><canvas id="attacks_vs_time_chart"></canvas></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/num_attacks_vs_time_chart.js"></script>
    

</body>
</html>