<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/project.css">
    <script src="/static/project.js"></script>
</head>
<body>
    <div id="headBar">
        <a href="/" id="logoLink">
            <img src="/static/logo2.svg" alt="Logo" id="logo" style="height: 50px;">
        </a>
        <div class="nav-links">
            <a href="/explore">Explore</a>
            <a class="clickedHeadbar" href="/explorebyregion">Explore By Region</a>
            <a href="/aboutus">About Us</a>
            <a href="/details">Details</a>
        </div>   
    </div>

    <div class="dropdown-container">
        <label for="continent-select">Choose the continent you want to explore:</label>
        <select id="continent-select" class="artful-dropdown">
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="north-america">North America</option>
            <option value="south-america">South America</option>
            <option value="africa">Africa</option>
            <option value="australia">Australia</option>
            <option value="antarctica">Antarctica</option>
        </select>
    </div>

</body>
</html>