<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/project.css">
    <script src="/static/project.js"></script>
</head>
<body>
    <div id="headBar">
        <a href="/" id="logoLink">
            <img src="/static/logo2.svg" alt="Logo" id="logo" style="height: 50px;">
        </a>
        <div class="nav-links">
            <a href="/explore">Explore</a>
            <a class="clickedHeadbar" href="/explorebyregion">Explore By Region</a>
            <a href="/aboutus">About Us</a>
            <a href="/details">Details</a>
        </div>   
    </div>

    <label for="select">Choose the continent you want to explore:</label>
    <select name="continents" id="continents">
        <option value="North America">North America</option>
        <option value="Europe">Europe</option>
        <option value="South America">South America</option>
        <option value="Asia">Asia</option>
        <option value="Africa">Africa</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Oceania">Oceania</option>
    </select>

</body>
</html>